# Определение стоимости автомобилей

## Описание проекта

    Сервис по продаже автомобилей с пробегом «Не бит, не крашен» разрабатывает приложение, чтобы привлечь новых клиентов. В нём можно будет узнать рыночную стоимость своего автомобиля. 
    Постройте модель, которая умеет её определять. В вашем распоряжении данные о технических характеристиках, комплектации и ценах других автомобилей.
    Критерии, которые важны заказчику:
1. качество предсказания;
2. время обучения модели;
3. время предсказания модели.

In [1]:
!pip install catboost
!pip install lightgbm

Requirement already satisfied: catboost in c:\users\alexander\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: plotly in c:\users\alexander\anaconda3\lib\site-packages (from catboost) (5.9.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\alexander\anaconda3\lib\site-packages (from catboost) (1.21.5)
Requirement already satisfied: matplotlib in c:\users\alexander\anaconda3\lib\site-packages (from catboost) (3.5.2)
Requirement already satisfied: scipy in c:\users\alexander\anaconda3\lib\site-packages (from catboost) (1.9.1)
Requirement already satisfied: pandas>=0.24.0 in c:\users\alexander\anaconda3\lib\site-packages (from catboost) (1.4.4)
Requirement already satisfied: six in c:\users\alexander\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: graphviz in c:\users\alexander\anaconda3\lib\site-packages (from catboost) (0.20.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alexander\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\alexander\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2022.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\alexander\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\alexander\anaconda3\lib\site-packages (from matplotlib->catboost) (1.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\alexander\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\alexander\anaconda3\lib\site-packages (from matplotlib->catboost) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\alexander\anaconda3\lib\site-packages (from matplotlib->catboost) (9.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\alexander\anaconda3\lib\site-packages (from matplotlib->catboost) (21.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\alexander\anaconda3\lib\site-packages (from plotly->catboost) (8.0.1)
Requirement already satisfied: lightgbm in c:\users\alexander\anaconda3\lib\site-packages (3.3.5)
Requirement already satisfied: scipy in c:\users\alexander\anaconda3\lib\site-packages (from lightgbm) (1.9.1)
Requirement already satisfied: numpy in c:\users\alexander\anaconda3\lib\site-packages (from lightgbm) (1.21.5)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\alexander\anaconda3\lib\site-packages (from lightgbm) (1.0.2)
Requirement already satisfied: wheel in c:\users\alexander\anaconda3\lib\site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\alexander\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\alexander\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from catboost import CatBoostRegressor
from sklearn.preprocessing import StandardScaler, OrdinalEncoder 
import warnings
warnings.filterwarnings("ignore")
from lightgbm import LGBMRegressor

## Загрузка данных

In [3]:
try:
    df = pd.read_csv('autos.csv', sep=',')
except:
    df = pd.read_csv('/datasets/autos.csv', sep=',')

In [4]:
df.head(5)

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,Repaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,2016-03-24 11:52:17,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [5]:
# Приведем названия столбцов к змеиному регистру
df.columns = df.columns.str.lower()
df = df.rename(
    columns={'datecrawled': 'date_crawled', 'vehicletype': 'vehicle_type', 
             'registrationyear': 'registration_year', 'registrationmonth': 'registration_month', 
             'fueltype': 'fuel_type', 'datecreated': 'date_created', 
             'numberofpictures': 'number_of_pictures', 'postalcode': 'postal_code', 
             'lastseen': 'last_seen'})

Данные загружены, наименования столбцов переведены в змеиный регистр.

##  Изучите данные. Заполните пропущенные значения и обработайте аномалии в столбцах. Если среди признаков имеются неинформативные, удалите их.

In [6]:
# Просмотрим общую информацию о данных, проверим на пропуски и дубликаты
df.info()
print(df.isna().sum())
print('Явных дубликатов:', df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date_crawled        354369 non-null  object
 1   price               354369 non-null  int64
 2   vehicle_type        316879 non-null  object
 3   registration_year   354369 non-null  int64
 4   gearbox             334536 non-null  object
 5   power               354369 non-null  int64
 6   model               334664 non-null  object
 7   kilometer           354369 non-null  int64
 8   registration_month  354369 non-null  int64
 9   fuel_type           321474 non-null  object
 10  brand               354369 non-null  object
 11  repaired            283215 non-null  object
 12  date_created        354369 non-null  object
 13  number_of_pictures  354369 non-null  int64
 14  postal_code         354369 non-null  int64
 15  last_seen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB
date_crawled              0
price                     0
vehicle_type          37490
registration_year         0
gearbox               19833
power                     0
model                 19705
kilometer                 0
registration_month        0
fuel_type             32895
brand                     0
repaired              71154
date_created              0
number_of_pictures        0
postal_code               0
last_seen                 0
dtype: int64
Явных дубликатов: 4

In [7]:
df.describe()

,price,registration_year,power,kilometer,registration_month,number_of_pictures,postal_code
count,354369.000000,354369.000000,354369.000000,354369.000000,354369.000000,354369.0,354369.000000
mean,4416.656776,2004.234448,110.094337,128211.172535,5.714645,0.0,50508.689087
std,4514.158514,90.227958,189.850405,37905.341530,3.726421,0.0,25783.096248
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1050.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30165.000000
50%,2700.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49413.000000
75%,6400.000000,2008.000000,143.000000,150000.000000,9.000000,0.0,71083.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

In [8]:
df['date_created'].sort_values(ascending=False).head(10)

323825    2016-04-07 00:00:00
238423    2016-04-07 00:00:00
218464    2016-04-07 00:00:00
8823      2016-04-07 00:00:00
136456    2016-04-07 00:00:00
115388    2016-04-07 00:00:00
124250    2016-04-07 00:00:00
262235    2016-04-07 00:00:00
140745    2016-04-07 00:00:00
84280     2016-04-07 00:00:00
Name: date_created, dtype: object

1. Обнаружены пропуски в столбцах vehicle_type, gearbox, model, fuel_type, repaired.
2. Обнаужены явные дубликаты.
3. В данных есть ненужные для обучения столбцы date_crawled, registration_month, date_created, last_seen, number_of_pictures, postal_code.
     'brand', 'model', '
4. Есть выбросы, например,в registration_year самый ранний год регистрации авто 1000 и самый поздний 9999, поэтому проверим дату последней регистрации объявления на сервисе - она равна 2016.

1. Пропуски в gearbox и model удалим - бесполезные и невосстановимые строки, в которых отсутствуют почти все ключевые значения, в vehicle_type и  fuel_type заполним значением unknown, а repaired заполним yes, исходя из соображений, что если не указаны данные о ремонте, будем считать, что он был.
2. Дубликаты удалим.
3. Избавимся от ненужных столбцов, и объединим признаки 'brand' и 'model' в новый признак autos.
4. Отфильтруем объявления по году регистрции с 1980 по 2016 год, по цене выше 0, восстнановим нулевую мощность по признаку autos, используя медиану,а также ограничим мощность от 5 до 1000. 
5. Также приведем тип числовых данных к единому - int

In [9]:
df = df.drop_duplicates()
df.dropna(subset=['gearbox', 'model'], inplace = True) 
df['autos'] = df['brand'] + ' ' + df['model']
df = df.drop(
    ['date_crawled', 'registration_month', 'date_created', 'last_seen', 'number_of_pictures', 
     'brand', 'model', 'postal_code'], axis='columns'
)

In [10]:
df['vehicle_type'] = df['vehicle_type'].fillna('unknown')
df['fuel_type'] = df['fuel_type'].fillna('unknown')
df['repaired'] = df['repaired'].fillna('yes')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 318958 entries, 0 to 354368
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              318958 non-null  int64
 1   vehicle_type       318958 non-null  object
 2   registration_year  318958 non-null  int64
 3   gearbox            318958 non-null  object
 4   power              318958 non-null  int64
 5   kilometer          318958 non-null  int64
 6   fuel_type          318958 non-null  object
 7   repaired           318958 non-null  object
 8   autos              318958 non-null  object
dtypes: int64(4), object(5)
memory usage: 24.3+ MB

In [12]:
df = df[df['power'] < 1001]

In [13]:
for d in df['autos'].unique():
    df.loc[(df['autos'] == d) & (df['power'] == 0), 'power'] = \
    df.loc[(df['autos'] == d) & (df['power'] > 0), 'power'].median()

In [14]:
df = df[(df['price'] > 0) & (df['registration_year'] > 1979) & (df['registration_year'] < 2017) & (df['power'] > 4)].reset_index(drop=True)
df[['price', 'registration_year', 'power', 'kilometer']] = df[['price', 'registration_year', 'power', 'kilometer']].astype(int)

In [15]:
df.describe()

               price  registration_year          power      kilometer
count  298967.000000      298967.000000  298967.000000  298967.000000
mean     4740.376724        2003.011747     120.330458  128856.629661
std      4576.848103           5.900269      53.390488   36386.485736
min         1.000000        1980.000000       5.000000    5000.000000
25%      1290.000000        1999.000000      77.000000  125000.000000
50%      3000.000000        2003.000000     110.000000  150000.000000
75%      6900.000000        2007.000000     150.000000  150000.000000
max     20000.000000        2016.000000    1000.000000  150000.000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298967 entries, 0 to 298966
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              298967 non-null  int32
 1   vehicle_type       298967 non-null  object
 2   registration_year  298967 non-null  int32
 3   gearbox            298967 non-null  object
 4   power              298967 non-null  int32
 5   kilometer          298967 non-null  int32
 6   fuel_type          298967 non-null  object
 7   repaired           298967 non-null  object
 8   autos              298967 non-null  object
dtypes: int32(4), object(5)
memory usage: 16.0+ MB

Пропущенные значения заполнены, аномалии в столбцах обработаны, неинформативные признаки удалены

## Подготовьте выборки для обучения моделей

In [17]:
# Проверка на мультиколлинеарность перед обучением
df.corr()

                      price  registration_year     power  kilometer
price              1.000000           0.570655  0.502706  -0.385482
registration_year  0.570655           1.000000  0.132992  -0.362248
power              0.502706           0.132992  1.000000   0.096879
kilometer         -0.385482          -0.362248  0.096879   1.000000

Мультиколлинеарности нет, можно разделять выборки и обучать модели.
Обучать будем три модели для каждой из них подготовим признаки.

In [18]:
# Разделим на фичи и таргет, далее разделим на тренировачную и тестовую выборки
features = df.drop(['price'], axis=1)
target = df['price']
features_train, features_test, target_train, target_test = train_test_split(
features, target, test_size=0.25, random_state=12345)
#Масштабируем признаки  
numeric = ['registration_year', 'power', 'kilometer']
pd.options.mode.chained_assignment = None
scaler = StandardScaler()
scaler.fit(features_train[numeric])
features_train[numeric] = scaler.transform(features_train[numeric])
features_test[numeric] = scaler.transform(features_test[numeric])

Для LGBMRegressor категориальные признаки необходимо превести в тип category

In [19]:
# Зададим переменную с категориальными  признаками
categorical = ['vehicle_type', 'gearbox', 'fuel_type', 'repaired', 'autos']
# Скопируем фичи и изменим в них тип данных для модели
features_train_lgbm = features_train.copy()
features_test_lgbm = features_test.copy()
features_train_lgbm[categorical] = features_train[categorical].astype('category')
features_test_lgbm[categorical] = features_test[categorical].astype('category')

Для LinearRegression категориальные признаки нужно закодировать, используем для этого get_dummies

In [20]:
# Закодируем категориальные признаки 
#features_train_ohe = features_train.copy()
#features_test_ohe = features_test.copy()
#features_train_ohe = pd.get_dummies(features_train_ohe, drop_first=True)
#features_test_ohe = pd.get_dummies(features_test_ohe, drop_first=True)

In [21]:
df_ohe = df.copy()
df_ohe = pd.get_dummies(df_ohe, drop_first=True)
features_ohe = df_ohe.drop(['price'], axis=1)
target_ohe = df_ohe['price']
features_train_ohe, features_test_ohe, target_train_ohe, target_test_ohe = train_test_split(
features_ohe, target_ohe, test_size=0.25, random_state=12345)
#Масштабируем признаки  
numeric = ['registration_year', 'power', 'kilometer']
pd.options.mode.chained_assignment = None
scaler = StandardScaler()
scaler.fit(features_train_ohe[numeric])
features_train_ohe[numeric] = scaler.transform(features_train_ohe[numeric])
features_test_ohe[numeric] = scaler.transform(features_test_ohe[numeric])

In [22]:
#features_train_oe = features_train.copy()
#features_test_oe = features_test.copy()
# закодируем признаки с помощью порядкового кодирования
#enc = OrdinalEncoder()
#enc.fit(features_train_oe)
#features_train_oe = enc.transform(features_train_oe)
##enc.fit(features_test_oe)
#features_test_oe = enc.transform(features_test_oe)

Данные разделены и подготовлены для обучения

## Обучите разные модели, одна из которых — LightGBM, как минимум одна — не бустинг. Для каждой модели попробуйте разные гиперпараметры.

Обучим три модели: LGBMRegressor, CatBoostRegressor, LinearRegression.
1. Подберем гиперпараметры

In [23]:
# Строим LGBMRegressor

params_lgb = {
    'n_estimators': [i for i in range(50, 100)], 
    'learning_rate': [0.01, 0.1],
    'depth': [None] + [i for i in range(2, 12)],
    'num_leaves': [n for n in range(20, 200, 20)]
}

model = LGBMRegressor(random_state=12345)

model_lgb = RandomizedSearchCV(LGBMRegressor(random_state=12345), params_lgb, n_iter=10, scoring='neg_root_mean_squared_error', random_state=12345, n_jobs=-1, cv=3, verbose=10)

# Обучаем LGBMRegressor
model_lgb.fit(features_train_lgbm, target_train)
# Определяем лучяший результат и его гиперпараметры
display(model_lgb.best_params_)
display(model_lgb.best_score_*-1)

Fitting 3 folds for each of 10 candidates, totalling 30 fits
[LightGBM] [Warning] Unknown parameter: depth

{'num_leaves': 120, 'n_estimators': 97, 'learning_rate': 0.1, 'depth': 5}

1521.0809231969324

Лучшими для модели оказались параметры: num_leaves= 120, n_estimators= 97, learning_rate= 0.1, depth= 5, RMSE = 1521.08

In [24]:
# Строим CatBoostRegressor
params_cbr = {
    'learning_rate': [0.01, 0.1],
    'depth': [None] + [i for i in range(2, 12)],
    'n_estimators': [i for i in range(50, 100)]
}
model_cbr = RandomizedSearchCV(CatBoostRegressor(random_state=12345, cat_features=categorical), params_cbr, n_iter=10, scoring='neg_root_mean_squared_error', random_state=12345, n_jobs=-1, cv=3, verbose=10)

# Обучаем CatBoostRegressor
model_cbr.fit(features_train, target_train)
# Определяем лучяший результат и его гиперпараметры
display(model_cbr.best_params_)
display(model_cbr.best_score_*-1)

Fitting 3 folds for each of 10 candidates, totalling 30 fits
0:	learn: 4248.4173439	total: 286ms	remaining: 23.2s
1:	learn: 3954.3754840	total: 421ms	remaining: 16.8s
2:	learn: 3698.7157039	total: 588ms	remaining: 15.5s
3:	learn: 3471.3083070	total: 761ms	remaining: 14.8s
4:	learn: 3268.9852048	total: 916ms	remaining: 14.1s
5:	learn: 3094.0384550	total: 1.05s	remaining: 13.3s
6:	learn: 2941.0664686	total: 1.19s	remaining: 12.8s
7:	learn: 2809.9992427	total: 1.34s	remaining: 12.4s
8:	learn: 2692.1174392	total: 1.46s	remaining: 11.9s
9:	learn: 2591.8584787	total: 1.58s	remaining: 11.4s
10:	learn: 2504.9270439	total: 1.73s	remaining: 11.2s
11:	learn: 2428.4559999	total: 1.88s	remaining: 11s
12:	learn: 2362.1187575	total: 2.01s	remaining: 10.7s
13:	learn: 2306.0121746	total: 2.14s	remaining: 10.4s
14:	learn: 2259.7836982	total: 2.26s	remaining: 10.1s
15:	learn: 2216.6105990	total: 2.39s	remaining: 9.85s
16:	learn: 2181.3353665	total: 2.51s	remaining: 9.61s
17:	learn: 2147.6447555	total: 2.64s	remaining: 9.38s
18:	learn: 2105.9674899	total: 2.77s	remaining: 9.2s
19:	learn: 2069.9719214	total: 2.9s	remaining: 8.99s
20:	learn: 2041.2733102	total: 3.03s	remaining: 8.81s
21:	learn: 2015.0568811	total: 3.16s	remaining: 8.62s
22:	learn: 1992.6922744	total: 3.29s	remaining: 8.43s
23:	learn: 1973.3350310	total: 3.41s	remaining: 8.24s
24:	learn: 1956.5319210	total: 3.54s	remaining: 8.07s
25:	learn: 1940.6057862	total: 3.72s	remaining: 8.01s
26:	learn: 1927.5108751	total: 3.91s	remaining: 7.97s
27:	learn: 1916.0812749	total: 4.1s	remaining: 7.91s
28:	learn: 1906.0173199	total: 4.29s	remaining: 7.84s
29:	learn: 1897.2027143	total: 4.47s	remaining: 7.75s
30:	learn: 1888.6674112	total: 4.67s	remaining: 7.68s
31:	learn: 1878.2863601	total: 4.81s	remaining: 7.51s
32:	learn: 1870.5149341	total: 4.95s	remaining: 7.35s
33:	learn: 1864.3859973	total: 5.12s	remaining: 7.23s
34:	learn: 1856.4270478	total: 5.27s	remaining: 7.08s
35:	learn: 1844.2150738	total: 5.45s	remaining: 6.96s
36:	learn: 1833.7472761	total: 5.65s	remaining: 6.87s
37:	learn: 1823.7432872	total: 5.79s	remaining: 6.7s
38:	learn: 1813.7256198	total: 5.94s	remaining: 6.55s
39:	learn: 1805.9402557	total: 6.13s	remaining: 6.43s
40:	learn: 1799.5500934	total: 6.31s	remaining: 6.31s
41:	learn: 1792.2235059	total: 6.5s	remaining: 6.19s
42:	learn: 1786.1916083	total: 6.71s	remaining: 6.08s
43:	learn: 1780.5289490	total: 6.9s	remaining: 5.96s
44:	learn: 1775.3949253	total: 7.14s	remaining: 5.87s
45:	learn: 1769.2936167	total: 7.37s	remaining: 5.77s
46:	learn: 1765.4160352	total: 7.6s	remaining: 5.66s
47:	learn: 1761.6292026	total: 7.84s	remaining: 5.56s
48:	learn: 1758.1160820	total: 8.06s	remaining: 5.43s
49:	learn: 1755.2930721	total: 8.22s	remaining: 5.26s
50:	learn: 1752.3090478	total: 8.38s	remaining: 5.09s
51:	learn: 1748.7378540	total: 8.56s	remaining: 4.94s
52:	learn: 1745.8200991	total: 8.79s	remaining: 4.81s
53:	learn: 1743.4657344	total: 9.03s	remaining: 4.68s
54:	learn: 1740.4272794	total: 9.21s	remaining: 4.52s
55:	learn: 1738.3477436	total: 9.37s	remaining: 4.35s
56:	learn: 1736.6917173	total: 9.51s	remaining: 4.17s
57:	learn: 1734.1576071	total: 9.67s	remaining: 4s
58:	learn: 1731.4303521	total: 9.82s	remaining: 3.83s
59:	learn: 1729.1095236	total: 9.98s	remaining: 3.66s
60:	learn: 1726.3772282	total: 10.1s	remaining: 3.49s
61:	learn: 1724.8015907	total: 10.3s	remaining: 3.32s
62:	learn: 1723.2709032	total: 10.5s	remaining: 3.15s
63:	learn: 1721.2258771	total: 10.7s	remaining: 3s
64:	learn: 1718.8962335	total: 10.8s	remaining: 2.83s
65:	learn: 1716.6198073	total: 10.9s	remaining: 2.65s
66:	learn: 1715.1406785	total: 11.1s	remaining: 2.48s
67:	learn: 1713.5955487	total: 11.2s	remaining: 2.31s
68:	learn: 1711.3708321	total: 11.4s	remaining: 2.14s
69:	learn: 1709.4469897	total: 11.5s	remaining: 1.97s
70:	learn: 1707.9913023	total: 11.7s	remaining: 1.81s
71:	learn: 1705.5574767	total: 11.8s	remaining: 1.64s
72:	learn: 1704.6023971	total: 11.9s	remaining: 1.47s
73:	learn: 1702.9173330	total: 12.1s	remaining: 1.31s
74:	learn: 1701.5144369	total: 12.3s	remaining: 1.14s
75:	learn: 1700.0669540	total: 12.4s	remaining: 980ms
76:	learn: 1698.3126309	total: 12.6s	remaining: 816ms
77:	learn: 1696.6333135	total: 12.7s	remaining: 653ms
78:	learn: 1694.9443778	total: 12.9s	remaining: 489ms
79:	learn: 1693.2838415	total: 13s	remaining: 326ms
80:	learn: 1692.3682594	total: 13.2s	remaining: 163ms
81:	learn: 1691.1294279	total: 13.3s	remaining: 0us

{'n_estimators': 82, 'learning_rate': 0.1, 'depth': 9}

1712.160292687753

Лучшими для модели оказались параметры: n_estimators= 82, learning_rate= 0.1, depth= 9, RMSE = 1712.16

In [25]:
# Строим LinearRegression и обучаем
params_lr = {}
model_lr = RandomizedSearchCV(LinearRegression(), params_lr, scoring='neg_root_mean_squared_error', n_jobs=-1, random_state=12345, cv=3, verbose=10)
model_lr.fit(features_train_ohe, target_train_ohe)
display(model_lr.best_params_)
display(model_lr.best_score_*-1)

Fitting 3 folds for each of 1 candidates, totalling 3 fits

{}

2408.866300912136

RMSE линейной модели = 2408,8



## Проанализируйте время обучения, время предсказания и качество моделей.

Обучим модели на трейне с определенными гиперпараметрами и измерим время предсказания и обучения.

LGBMRegressor

In [26]:
%%time

model_lgbm = LGBMRegressor(random_state=12345, num_leaves=120, n_estimators=97, learning_rate=0.1, depth=5)
model_lgbm.fit(features_train_lgbm, target_train)

Wall time: 1.51 s

LGBMRegressor(depth=5, n_estimators=97, num_leaves=120, random_state=12345)

In [27]:
%%time
predictions_lgbm = model_lgbm.predict(features_train_lgbm)
print('RMSE train lgbm:', mean_squared_error(target_train, predictions_lgbm)**0.5)

RMSE train lgbm: 1398.6915026842732
Wall time: 392 ms

Время обучения - 1.04 s, время предсказания - 306 ms. RMSE_train = 1398.69

CatBoostRegressor

In [28]:
%%time
model_cbr = CatBoostRegressor(
    random_state=12345, cat_features=categorical, n_estimators=82, learning_rate=0.1, depth=9
)
model_cbr.fit(features_train, target_train)

0:	learn: 4248.4173439	total: 136ms	remaining: 11.1s
1:	learn: 3954.3754840	total: 275ms	remaining: 11s
2:	learn: 3698.7157039	total: 437ms	remaining: 11.5s
3:	learn: 3471.3083070	total: 647ms	remaining: 12.6s
4:	learn: 3268.9852048	total: 847ms	remaining: 13s
5:	learn: 3094.0384550	total: 1.01s	remaining: 12.8s
6:	learn: 2941.0664686	total: 1.16s	remaining: 12.4s
7:	learn: 2809.9992427	total: 1.36s	remaining: 12.6s
8:	learn: 2692.1174392	total: 1.53s	remaining: 12.4s
9:	learn: 2591.8584787	total: 1.67s	remaining: 12s
10:	learn: 2504.9270439	total: 1.84s	remaining: 11.9s
11:	learn: 2428.4559999	total: 2.01s	remaining: 11.7s
12:	learn: 2362.1187575	total: 2.15s	remaining: 11.4s
13:	learn: 2306.0121746	total: 2.35s	remaining: 11.4s
14:	learn: 2259.7836982	total: 2.47s	remaining: 11.1s
15:	learn: 2216.6105990	total: 2.62s	remaining: 10.8s
16:	learn: 2181.3353665	total: 2.77s	remaining: 10.6s
17:	learn: 2147.6447555	total: 2.92s	remaining: 10.4s
18:	learn: 2105.9674899	total: 3.07s	remaining: 10.2s
19:	learn: 2069.9719214	total: 3.22s	remaining: 9.99s
20:	learn: 2041.2733102	total: 3.38s	remaining: 9.82s
21:	learn: 2015.0568811	total: 3.57s	remaining: 9.75s
22:	learn: 1992.6922744	total: 3.72s	remaining: 9.54s
23:	learn: 1973.3350310	total: 3.88s	remaining: 9.38s
24:	learn: 1956.5319210	total: 4.03s	remaining: 9.2s
25:	learn: 1940.6057862	total: 4.2s	remaining: 9.05s
26:	learn: 1927.5108751	total: 4.43s	remaining: 9.02s
27:	learn: 1916.0812749	total: 4.66s	remaining: 8.99s
28:	learn: 1906.0173199	total: 4.84s	remaining: 8.85s
29:	learn: 1897.2027143	total: 5.08s	remaining: 8.8s
30:	learn: 1888.6674112	total: 5.28s	remaining: 8.69s
31:	learn: 1878.2863601	total: 5.43s	remaining: 8.49s
32:	learn: 1870.5149341	total: 5.61s	remaining: 8.32s
33:	learn: 1864.3859973	total: 5.75s	remaining: 8.12s
34:	learn: 1856.4270478	total: 5.89s	remaining: 7.91s
35:	learn: 1844.2150738	total: 6.02s	remaining: 7.69s
36:	learn: 1833.7472761	total: 6.16s	remaining: 7.49s
37:	learn: 1823.7432872	total: 6.29s	remaining: 7.28s
38:	learn: 1813.7256198	total: 6.43s	remaining: 7.09s
39:	learn: 1805.9402557	total: 6.57s	remaining: 6.9s
40:	learn: 1799.5500934	total: 6.75s	remaining: 6.75s
41:	learn: 1792.2235059	total: 6.92s	remaining: 6.59s
42:	learn: 1786.1916083	total: 7.06s	remaining: 6.4s
43:	learn: 1780.5289490	total: 7.19s	remaining: 6.21s
44:	learn: 1775.3949253	total: 7.35s	remaining: 6.05s
45:	learn: 1769.2936167	total: 7.59s	remaining: 5.94s
46:	learn: 1765.4160352	total: 7.75s	remaining: 5.78s
47:	learn: 1761.6292026	total: 7.89s	remaining: 5.59s
48:	learn: 1758.1160820	total: 8.02s	remaining: 5.4s
49:	learn: 1755.2930721	total: 8.18s	remaining: 5.24s
50:	learn: 1752.3090478	total: 8.31s	remaining: 5.05s
51:	learn: 1748.7378540	total: 8.45s	remaining: 4.87s
52:	learn: 1745.8200991	total: 8.58s	remaining: 4.69s
53:	learn: 1743.4657344	total: 8.71s	remaining: 4.52s
54:	learn: 1740.4272794	total: 8.84s	remaining: 4.34s
55:	learn: 1738.3477436	total: 9s	remaining: 4.18s
56:	learn: 1736.6917173	total: 9.12s	remaining: 4s
57:	learn: 1734.1576071	total: 9.27s	remaining: 3.83s
58:	learn: 1731.4303521	total: 9.41s	remaining: 3.67s
59:	learn: 1729.1095236	total: 9.55s	remaining: 3.5s
60:	learn: 1726.3772282	total: 9.69s	remaining: 3.34s
61:	learn: 1724.8015907	total: 9.82s	remaining: 3.17s
62:	learn: 1723.2709032	total: 9.94s	remaining: 3s
63:	learn: 1721.2258771	total: 10.1s	remaining: 2.83s
64:	learn: 1718.8962335	total: 10.2s	remaining: 2.66s
65:	learn: 1716.6198073	total: 10.3s	remaining: 2.5s
66:	learn: 1715.1406785	total: 10.4s	remaining: 2.34s
67:	learn: 1713.5955487	total: 10.6s	remaining: 2.18s
68:	learn: 1711.3708321	total: 10.7s	remaining: 2.02s
69:	learn: 1709.4469897	total: 10.8s	remaining: 1.86s
70:	learn: 1707.9913023	total: 11s	remaining: 1.7s
71:	learn: 1705.5574767	total: 11.1s	remaining: 1.54s
72:	learn: 1704.6023971	total: 11.2s	remaining: 1.38s
73:	learn: 1702.9173330	total: 11.3s	remaining: 1.22s
74:	learn: 1701.5144369	total: 11.5s	remaining: 1.07s
75:	learn: 1700.0669540	total: 11.6s	remaining: 915ms
76:	learn: 1698.3126309	total: 11.7s	remaining: 761ms
77:	learn: 1696.6333135	total: 11.8s	remaining: 608ms
78:	learn: 1694.9443778	total: 12s	remaining: 454ms
79:	learn: 1693.2838415	total: 12.1s	remaining: 302ms
80:	learn: 1692.3682594	total: 12.2s	remaining: 151ms
81:	learn: 1691.1294279	total: 12.3s	remaining: 0us
Wall time: 13 s

In [29]:
%%time
predictions_cbr = model_cbr.predict(features_train)
print('RMSE train cbr:', mean_squared_error(target_train, predictions_cbr)**0.5)

RMSE train cbr: 1689.1114767319955
Wall time: 427 ms

Время обучения - 12.5 s, время предсказания - 429 ms. RMSE_train = 1689.11

LinearRegression

In [30]:
%%time
model_lr.fit(features_train_ohe, target_train_ohe)

Fitting 3 folds for each of 1 candidates, totalling 3 fits
Wall time: 18.4 s

RandomizedSearchCV(cv=3, estimator=LinearRegression(), n_jobs=-1,
                   param_distributions={}, random_state=12345,
                   scoring='neg_root_mean_squared_error', verbose=10)

In [31]:
%%time
predictions_lr = model_lr.predict(features_train_ohe)
print('RMSE train lr:', mean_squared_error(target_train_ohe, predictions_lr)**0.5)

RMSE train lr: 2403.283229286982
Wall time: 394 ms

Время обучения - 20.3 s, время предсказания - 435 ms. RMSE_train = 2403.28

Модели градинтного бустинга оказались фаворитами, однако LGBMRegressor показала лучшую скорость работы и лучшее значение RMSE.

## Опираясь на критерии заказчика, выберете лучшую модель, проверьте её качество на тестовой выборке.

Проверим качество LGBMRegressor на тествовой выборке

In [32]:
%%time
predictions_lgbm_test = model_lgbm.predict(features_test_lgbm)
print('RMSE test lgbm:', mean_squared_error(target_test, predictions_lgbm_test)**0.5)

RMSE test lgbm: 1516.9358407534064
Wall time: 136 ms

RMSE на тестовой выборке лучшей модели = 1516,93

Полученные результаты оформим в таблицу.

In [33]:
table = pd.DataFrame({'Модель': ['LGBMRegressor', 'CatBoostRegressor', 'LinearRegression'], 
                      'время обучения, s': [1.04, 12.5, 20.3], 
                      'время предсказания, ms': [306, 429, 435], 
                      'RMSE': [1521, 1712.1, 2408.86] 
                     })
                     
table

              Модель  время обучения, s  время предсказания, ms     RMSE
0      LGBMRegressor               1.04                     306  1521.00
1  CatBoostRegressor              12.50                     429  1712.10
2   LinearRegression              20.30                     435  2408.86

Опираясь на результаты проведенной работы, заказчику рекомендуется использовать LGBMRegressor. Она показала самые лучшие результаты по RMSE и времени предсказания.

*Полученное время с каждым запуском кода изменяется, но не меняется фаворит.